<!-- Header Section Start --><html><head></head><body><header id="header-sticky" class="header-1 header-4 header-5">
    <div class="container-fluid">
        <div class="mega-menu-wrapper">
            <div class="header-main">
                <div class="header-left">
                    <a href="index.html" class="header-logo">
                        <img src="assets/img/logo/black-logo.svg" alt="img">
                    </a>
                    <div class="mean__menu-wrapper">
                        <div class="main-menu">
                            <nav id="mobile-menu">
                                <ul>
  <li class="menu-thumb"><a class="" href="index.html">Home</a></li>
  <li class="menu-thumb"><a class="" href="about.html">About</a></li>
  <li class="menu-thumb"><a class="" href="service.html">Services</a></li>
  <li class="menu-thumb"><a class="" href="gallery.html">Gallery</a></li>
  <li class="menu-thumb"><a class="" href="contact.html">Contact Us</a></li>
</ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="header-right d-flex justify-content-end align-items-center">
                    <div class="header-right-icon">
                        <a href="shop-cart.html" class="cart-icon"><i class="far fa-shopping-bag"></i>
                            <span>2</span>
                        </a>
                        <a href="#" class="main-header__search search-toggler">
                            <i class="far fa-search"></i>
                        </a>
                    </div>
                    <div class="header__hamburger">
                        <a href="contact.html" class="contact-btn">GET A QUOTE</a>
                        <div class="sidebar__toggle">
                            <div class="header-bar">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header></body></html>