<!-- Header Section Start -->
<header id="header-sticky" class="header-1">
    <div class="container-fluid">
        <div class="mega-menu-wrapper">
            <div class="header-main">
                <a href="index.html" class="header-logo">
                    <img src="assets/img/logo/white-logo.svg" alt="img">
                </a>
                <div class="header-right d-flex justify-content-end align-items-center">
                    <div class="mean__menu-wrapper">
                        <div class="main-menu">
                            <nav id="mobile-menu">
                                <ul>
                                    <li class="has-dropdown menu-thumb">
                                        <a href="javascript:void(0)">
                                            Home
                                            <i class="fas fa-chevron-down"></i>
                                        </a>
                                        <ul class="submenu has-homemenu">
                                            <li>
                                                <div class="homemenu-items">
                                                    <div class="row row-cols-xl-4 row-cols-md-2 row-cols-2">
                                                        <div class="col homemenu">
                                                            <div class="homemenu-thumb">
                                                                <img src="assets/img/header/home-1.jpg" alt="img">
                                                                <div class="demo-button">
                                                                    <a class="theme-btn-main style-2" href="index.html">
                                                                        <span class="theme-btn-arrow-left"> <i
                                                                                class="fa-solid fa-arrow-up-right"></i>
                                                                        </span>
                                                                        <span class="theme-btn">Demo Page</span>
                                                                        <span class="theme-btn-arrow-right"> <i
                                                                                class="fa-solid fa-arrow-up-right"></i>
                                                                        </span>
                                                                    </a>
                                                                    </div>
                                                            </div>
                                                            <div class="homemenu-content text-center">
                                                                <h4 class="homemenu-title">
                                                                    <a href="index.html">
                                                                        Main Home
                                                                    </a>
                                                                </h4>
                                                            </div>
                                                        </div>
                                                        <div class="col homemenu">
                                                            <div class="homemenu-thumb mb-15">
                                                                <img src="assets/img/header/home-2.jpg" alt="img">
                                                                <div class="demo-button">
                                                                    </div>
                                                            </div>
                                                            <div class="homemenu-content text-center">
                                                                <h4 class="homemenu-title">
                                                                    <a href="index-2.html">
                                                                        Home Constructon 01
                                                                    </a>
                                                                </h4>
                                                            </div>
                                                        </div>
                                                        <div class="col homemenu">
                                                            <div class="homemenu-thumb mb-15">
                                                                <img src="assets/img/header/home-3.jpg" alt="img">
                                                                <div class="demo-button">
                                                                    </div>
                                                            </div>
                                                            <div class="homemenu-content text-center">
                                                                <h4 class="homemenu-title">
                                                                    <a href="index-3.html">
                                                                        Home Constructon 02
                                                                    </a>
                                                                </h4>
                                                            </div>
                                                        </div>
                                                        <div class="col homemenu">
                                                            <div class="homemenu-thumb mb-15">
                                                                <img src="assets/img/header/home-4.jpg" alt="img">
                                                                <div class="demo-button">
                                                                    </div>
                                                            </div>
                                                            <div class="homemenu-content text-center">
                                                                <h4 class="homemenu-title">
                                                                    <a href="index-4.html">
                                                                        Industry Home
                                                                    </a>
                                                                </h4>
                                                            </div>
                                                        </div>
                                                        <div class="col homemenu">
                                                            <div class="homemenu-thumb mb-15">
                                                                <img src="assets/img/header/home-5.jpg" alt="img">
                                                                <div class="demo-button">
                                                                    </div>
                                                            </div>
                                                            <div class="homemenu-content text-center">
                                                                <h4 class="homemenu-title">
                                                                    <a href="index-5.html">
                                                                        Construction
                                                                    </a>
                                                                </h4>
                                                            </div>
                                                        </div>
                                                        <div class="col homemenu">
                                                            <div class="homemenu-thumb mb-15">
                                                                <img src="assets/img/header/home-6.jpg" alt="img">
                                                                <div class="demo-button">
                                                                    </div>
                                                            </div>
                                                            <div class="homemenu-content text-center">
                                                                <h4 class="homemenu-title">
                                                                    <a href="index-6.html">
                                                                        Oil Industry
                                                                    </a>
                                                                </h4>
                                                            </div>
                                                        </div>
                                                        <div class="col homemenu">
                                                            <div class="homemenu-thumb mb-15">
                                                                <img src="assets/img/header/home-7.jpg" alt="img">
                                                                <div class="demo-button">
                                                                    <a class="theme-btn-main style-2"
                                                                        href="index-7.html">
                                                                        <span class="theme-btn-arrow-left"> <i
                                                                                class="fa-solid fa-arrow-up-right"></i>
                                                                        </span>
                                                                        <span class="theme-btn">Demo Page</span>
                                                                        <span class="theme-btn-arrow-right"> <i
                                                                                class="fa-solid fa-arrow-up-right"></i>
                                                                        </span>
                                                                    </a>
                                                                    </div>
                                                            </div>
                                                            <div class="homemenu-content text-center">
                                                                <h4 class="homemenu-title">
                                                                    <a href="index-7.html">
                                                                        Renovation
                                                                    </a>
                                                                </h4>
                                                            </div>
                                                        </div>
                                                        <div class="col homemenu">
                                                            <div class="homemenu-thumb mb-15">
                                                                <img src="assets/img/header/home-8.jpg" alt="img">
                                                            </div>
                                                            <div class="homemenu-content text-center">
                                                                <h4 class="homemenu-title">
                                                                    Coming Soon
                                                                </h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown active d-xl-none">
                                        <a href="javascript:void(0)" class="border-none">
                                            Home
                                        </a>
                                        <ul class="submenu">
                                            <li><a href="index.html">Main Home</a></li>
                                            <li><a href="index-2.html">Home Constructon 01</a></li>
                                            <li><a href="index-3.html">Home Constructon 02</a></li>
                                            <li><a href="index-4.html">Industry Home</a></li>
                                            <li><a href="index-5.html">Construction</a></li>
                                            <li><a href="index-6.html">Oil Industry</a></li>
                                            <li><a href="index-7.html">Renovation</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#about">
                                            About Us
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#service">
                                            Services
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#projects">
                                            Projects
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#contact">
                                            Contacts
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="header-right-icon">
                        <a href="shop-cart.html" class="cart-icon"><i class="far fa-shopping-bag"></i>
                            <span>2</span>
                        </a>
                        <a href="#" class="main-header__search search-toggler">
                            <i class="far fa-search"></i>
                        </a>
                    </div>
                    <div class="header__hamburger">
                        <a href="contact.html" class="contact-btn">GET A QUOTE</a>
                        <div class="sidebar__toggle">
                            <div class="header-bar">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>