<!-- Offcanvas Area Start --><html><head></head><body><div class="fix-area">
    <div class="offcanvas__info">
        <div class="offcanvas__wrapper">
            <div class="offcanvas__content">
                <div class="offcanvas__top mb-5 d-flex justify-content-between align-items-center">
                    <div class="offcanvas__logo">
                        <a href="index.html">
                            <img src="assets/img/logo/black-logo.svg" alt="logo-img">
                        </a>
                    </div>
                    <div class="offcanvas__close">
                        <button>
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <h3 class="offcanvas-title">Hello There!</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi natus quasi sunt eum ducimus. </p>
                <div class="mobile-menu fix mt-15"></div>
                <div class="social-icon d-flex align-items-center">
                    <a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a>
                    <a href="javascript:void(0)"><i class="fab fa-twitter"></i></a>
                    <a href="javascript:void(0)"><i class="fab fa-youtube"></i></a>
                    <a href="javascript:void(0)"><i class="fab fa-linkedin-in"></i></a>
                </div>

                <div class="offcanvas__contact">
                    <h3>Contact Us</h3>
                    <ul class="contact-list">
                        <li>
                            <div class="icon">
                                <i class="far fa-phone-alt"></i>
                            </div>
                            <div class="content">
                                <p>Call Us</p>
                                <h4><a href="tel:+4903983493999" data-ph-phone="true" data-pb="phone">+49 (03) 9834 939 99</a></h4>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="fal fa-envelope"></i>
                            </div>
                            <div class="content">
                                <p>Send Email</p>
                                <h4><a href="mailto:yordomain@gmial.com" data-ph-email="true" data-pb="email">yordomain@gmial.com</a></h4>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="fal fa-map-marker-alt"></i>
                            </div>
                            <div class="content">
                                <p>Location</p>
                                <h4>
                                    Chicago 53755 NY, USA
                                </h4>
                            </div>
                        </li>
                    </ul>
                </div>
                <a href="contact.html" class="theme-btn-main style-2">
                    <span class="theme-btn-arrow-left"> <i class="fa-solid fa-arrow-up-right"></i> </span>
                    <span class="theme-btn">GET A QUOTE</span>
                    <span class="theme-btn-arrow-right"> <i class="fa-solid fa-arrow-up-right"></i> </span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="offcanvas__overlay"></div></body></html>